{{ partial "header.html" . }}

<body id="page-top">

  {{ partial "nav.html" }}

  <div class="container-fluid">
    {{ partial "breadcrumbs" . }}
    <section>
      <header>
        <h1>{{ .Title }}</h1>
        <p>{{ .Date.Format "Jan 2, 2006" }} · {{ .ReadingTime }} minute read</p>
      </header>
      <article>{{ .Content }}</article>
      <footer>
        {{ if isset .Params "tags" }}
        <ul>
          {{ range $tag := .Params.tags }}
            <li><a href="/tags/{{ $tag | urlize }}"><span>{{ $tag | title }}</span></a></li>
          {{ end }}
        </ul>
        {{ end }}
        <p>
          {{ if .Site.Copyright }}{{ .Site.Copyright }}{{ end }}{{ if gt (div (sub now.Unix .Lastmod.Unix) 86400) 100 }}This post was published <strong>{{ div (sub now.Unix .Lastmod.Unix) 86400 }}</strong> days ago, content in the post may be inaccurate, even wrong now, please take risk yourself.{{ end }}
        </p>
      </footer>
    </section>
    {{ partial "disqus.html" }}
  </div>
  <div id="back-to-top" class="fixed-bottom fab mx-3" style="margin-bottom: 4.5rem" onclick="topFunction()">
    <span class="fa-stack fa-lg fab-green">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
    </span>
  </div>
  <div id="comment" class="fixed-bottom fab m-3" onclick="topFunction()">
      <span class="fa-stack fa-lg fab-green">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
      </span>
  </div>
</body>
{{ partial "footer.html" }}