<nav id="side-nav" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top side-nav">
  <a class="navbar-brand">
    <span class="d-lg-block">
      <img class="img-logo mx-auto" src="/image/logo.svg" alt="Brand logo">
    </span>
  </a>
  <ul class="list-inline list-social-icons mb-0">
    <li class="list-inline-item">
      <a href="https://resume.creddle.io/resume/gkwk8qfgpa3" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://linkedin.com/in/cameronvwilliams/" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/cvwilliams/" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
  </ul>
  <div class="collapse navbar-collapse">
  </div>
</nav>