{{ partial "header.html" . }}

<body id="page-top">

  {{ partial "nav.html" }}

  <div class="container-fluid">
    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
      <div class="my-auto">
        <img class="img-fluid rounded-circle img-profile mx-auto" src="image/profile.jpg" alt="Profile image">
        <h1 class="mb-0">Cameron
          <span class="text-primary">Williams</span>
        </h1>
        <div class="subheading">Software Engineer · <a href="https://www.credential.net/4odss7am" target="_blank">Android</a> · Angular · JavaScript</div>
      </div>
    </section>
  </div>
</body>
{{ partial "footer.html" }}